* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #d8e2dc;
  color: #6e6e6e;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #4a4a4a;
  margin-bottom: 10px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
}

header img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

nav {
  background-color: #f4f1de;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 50px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Lucid_Origin_soft_natural_background_texture_for_a_holistic_th_2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 65vh;
}

.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe5d9;
  padding: 10px 30px;
  border-radius: 5%;
}

.card img {
  width: 120px;
  height: auto;
}

.frases {
  padding: 20px;
  text-align: center;
}

.contato {
  background-color: #f4f1de;
  padding: 20px;
  text-align: center;
}

.contato > form {
  margin-bottom: 40px;
}

.social-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social {
  display: inline-block;
  margin-right: 20px;
}

input[type="submit"],
button {
  background-color: #e8dff5;
  color: #a3b18a;
}

footer {
  background-color: #f4f1de;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-bottom: 10px;
  }
}
